@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular.woff") format("woff");
}


@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Condensed"),
    url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed-bold.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("PT Mono"),
    url("../fonts/mono-regular.woff2") format("woff2"),
    url("../fonts/mono-regular.woff") format("woff");
}
