// Colors
// ---------------------------------

$color-black-pearl: #041827;
$color-black-pearl-with-opacity-0: #04182700;
$color-pacific-blue: #019bdf;
$color-cerulean: #026592;
$color-alice-blue: #f2f5f6;
$color-alice-blue-background: #f8fdff;
$color-deep-sky-blue: #00b2ff;
$color-whisper: #ebebeb;
$color-white: #ffffff;
$color-white-with-opacity-70: #f8fdffb2;
$color-silver: #c4c4c4;
$color-blue-whale: #20323e;


// Typography
// ---------------------------------

$fz-default: 16px;

$ff-roboto: "Roboto Condensed", "Arial", sans-serif;
$ff-mono: "PT Mono", "Courier New", monospace;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-767: 767px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1272: 1272px;

// Retina
// ---------------------------------

$retina-dppx: 2dppx;
$retina-dpi: 192dpi;
